.config-container {
    height: 41.2rem;
}

.defaultContainer .config-container {
    background-color: #FFFFFF;
}

.img-container {
    height: 4.5rem;
    width: 4.5rem;
}

.text-container {
    font-size: 1.6rem;    
}