.title-container {
    height: 3.5rem;
    width: 100%!important;
    border: 0solid#E1E1E1;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.12);
    border-radius: 3px;
}

.max-width-description {
    max-width: 87rem;
}

.max-width-title {
    max-width: 20rem;
}

.max-width-type {
    width: 4rem;
}

.faq-setting-button {
    margin-right: 1px;
}

.module-container {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
}

.configuration-seperation {
    margin-top: 1.5rem;
}

.checkbox {
    margin-right: -2.25rem;
    top: -0.4rem;
}

.knowledge-base-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    padding-bottom: 2.5rem !important;
    padding-left: 0.5rem;
    padding-right: 2.5rem;
}

@media only screen and (min-width : 1001px) and (max-width : 1200px) {
    .max-width-description {
        max-width: 60rem;
    }

    .max-width-title {
        max-width: 18rem;
    }

    .max-width-type {
        width: 12rem;
    }
}

@media only screen and (min-width : 851px) and (max-width : 1000px) {
    .max-width-description {
        max-width: 50rem;
    }

    .max-width-title {
        max-width: 15rem;
    }

    .max-width-type {
        width: 8rem;
    }
}

@media only screen and (min-width : 651px) and (max-width : 850px) {
    .max-width-description {
        max-width: 37rem;
    }

    .max-width-title {
        max-width: 10rem;
    }

    .max-width-type {
        width: 1rem;
    }
}

@media screen and (min-width : 451px) and (max-width: 650px) {
    .max-width-description {
        max-width: 25rem;
    }

    .max-width-title {
        max-width: 15rem;
    }

    .max-width-type {
        width: 8rem;
    }
}

@media screen and (min-width : 0px) and (max-width: 450px) {
    .max-width-description {
        max-width: 8rem;
    }

    .max-width-title {
        max-width: 5rem;
    }

    .max-width-type {
        width: 2rem;
    }
}